{% assign postslength = site.posts.size | minus: 1 %}
<!DOCTYPE html>
<html>
<head>
    <title>Portfolio van Ruthger van de Vosse</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheet.css">
</head>
<body>
<div class="container">

    <div>Portfolio van Ruthger van de Vosse</div>

    <h2>Menu</h2>
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}{{ site.posts[postslength].url }}">Hoe het allemaal begon...</a></li>
    </ul>
