<script>


    function onClick(e) {
        document.location.href = this.url;
    }

    markers = [
        {% for item in site.markers %}
            {% if item.lat and item.lng %}
                {% assign i = i | plus: 1 %}{% if i > 1 %},{% endif %}
                {
                    "name": '{{ item.title | replace:"'","\'" }}',
                    "url": "{{ item.url | prepend: site.baseurl | prepend: site.url }}",
                    "lat": {{ item.lat }},
                    "lng": {{ item.lng }}
                }
            {% endif %}
        {% endfor %}
    ];
    var map = L.map( 'map', {
        {% if page.lat %}center: [{{ page.lat }},{{ page.lng }}],{% else %}center: [52.345511688429895,4.876032838309659],{% endif %}
        minZoom: 5,
        {% if page.lat %}zoom: 11,{% else %}zoom: 6,{% endif %}
        scrollWheelZoom: false,
        zoomControl: true
    });
    map.zoomControl.setPosition('topright');
    L.Icon.Default.imagePath = '{{ site.baseurl }}/js/images/';

    //L.tileLayer('https://b.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    L.tileLayer('https://c.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors',
    }).addTo( map );

    for ( var i=0; i < markers.length; ++i ) {
        L.marker( [markers[i].lat, markers[i].lng], {title: markers[i].name} )
            .on('click', onClick, markers[i])
            .addTo( map );
    }

    function geoFindMe() {

        const status = document.querySelector('#status');

        function success(position) {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            status.textContent = '';
            map.flyTo([latitude, longitude], 11);
        }

        function error() {
            status.textContent = 'Unable to retrieve your location';
        }

        if(!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
        } else {
            status.textContent = 'Locating...';
            navigator.geolocation.getCurrentPosition(success, error);
        }

    }
    
    document.querySelector('#findme').addEventListener('click', geoFindMe);

</script>