{% include header.html %}

<h2>Store locator</h2>
<p>Onze store locator.... bla bla bla.</p>

<input type="button" id="findme" value="Mijn locatie" />
<div id="store-locator">
    <div id="shoplist">
        <a href="{{ site.baseurl }}/storelocator/">&larr; Alle winkels</a>
        <h1>{{ page.title }}</h1>
        <p>
            {{ page.address }}<br />
            {{ page.email }}
        </p>
    </div>
    <div id="map"></div>
</div>
<div id="status"></div>
{% include mapfooter.html %}

{% include footer.html %}
